# Ignore node_modules
node_modules/

# Ignore build output
.next/
out/
build/

# Ignore logs
*.log

# Ignore .env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore other system files
.DS_Store
Thumbs.db

